/**  style.css  **/

.title {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    font-style: Arial, Verdana, "Times New Roman";
}

body {
    background-color:#39bbe2;
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-style: Helvetica, Arial, sans-serif;
    text-align: center;
}



